<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="SenderEmail" value="dien_email_cua_ban@gmail.com" />
	<add key="AppPassword" value="dien_mat_khau_ung_dung_chua_day" />
	<add key="GeminiApiKey" value="dien_key_gemini_cua_ban_tai_day" />
</appSettings>